@page "/"
@using Scan.Shared
<AntDesign.Pro.Layout.GridContent>
    <Row>
        <AntDesign.Col Span="24">
            <Card>
                <Space>
                    <SpaceItem>
                        <Text>Scan Data Matrix</Text>
                    </SpaceItem>
                    <SpaceItem>
                        <Input @bind-Value="_scannerText"  AllowClear="true" TValue="string?" OnPressEnter="SubmitScanData" @ref="_scannerInputReference" />
                    </SpaceItem>
                    @if (_loadingData)
                    {
                        <SpaceItem>
                            <Icon Type="@IconType.Outline.Loading" />
                        </SpaceItem>
                    }
                </Space>
            </Card>
        </AntDesign.Col>
    </Row>
    <br />
    @if (dataInTag != null)
    {
        <Row>
            <AntDesign.Col Span="24">
                <Card Title="Data In Tag">
                    <Text>Prod Order: @dataInTag.ProdOrder</Text>
                </Card>
            </AntDesign.Col>
        </Row>
        <br />
        <Row>
            <AntDesign.Col Span="24">
                <Card Title="Components breakdown">
                    <Table TItem="CooisComponent" DataSource="@(dataInTag.Components.ToList())" Size="TableSize.Small" PageSize="50">
                        <Column @bind-Field="@context.Material" Title="Material">
                            @context.Material
                        </Column>
                    </Table>
                </Card>
            </AntDesign.Col>
        </Row>
    }
</AntDesign.Pro.Layout.GridContent>
